.ms-product-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1450px) {
  .ms-product-detail .container {
    max-width: 1400px;
  }
}

.ms-product-detail .pr-dt-inner {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.ms-product-detail .pr-dt-inner .pr-dt-img {
  border-radius: 15px;
  overflow: hidden;
}

.ms-product-detail .pr-instock .pr-in_stock {
  font-size: 12px;
  line-height: 1.6666666667;
  text-transform: uppercase;
  color: #82d175;
  padding: 0 9px;
  border-radius: 3px;
  background-color: rgba(130, 209, 117, 0.2);
  display: inline-block;
  margin-bottom: 20px;
}

.ms-product-detail .pr-instock .pr-out_stock {
  font-size: 12px;
  line-height: 1.6666666667;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 9px;
  border-radius: 3px;
  background-color: #dc3545;
  display: inline-block;
  margin-bottom: 20px;
}
.ms-product-detail .product-dt-title {
  font-size: 36px;
  line-height: 1.2222222222;
  margin-bottom: 10px;
  font-weight: 600;
  clear: none;
}
.ms-product-detail .pr_author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 12px;
  line-height: 2;
  position: relative;
}
.ms-product-detail .pr-dt-price {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  align-items: center;
  color: #f65d4e;
  margin-bottom: 15px;
  display: flex;
}
.ms-product-detail .pr-dt-quantity input {
  max-width: 120px;
  text-align: center;
  border: none;
}
.ms-product-detail .pr-dt-quantity {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.ms-product-detail .pr-dt-action {
  display: flex;
  gap: 20px;
}

.ms-product-detail .pr-dt-quantity button {
  outline: none;
  border: none;
  background-color: transparent;
  width: 50px;
}
.ms-product-detail .btn.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pr-dt-action.disable {
  pointer-events: none;
  opacity: 0.7;
}
.ms-product-detail .react-tabs__tab {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  transition: all 0.3s ease;
  color: #999;
  margin-bottom: -1px;
}
.ms-product-detail .react-tabs__tab--selected {
  color: #000;
}
.ms-product-detail .react-tabs__tab-panel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}
.ms-product-detail .react-tabs__tab--selected {
  border-color: rgba(0, 0, 0, 0.1);
}
.ms-product-detail .react-tabs__tab-list {
  border: none;
  margin-bottom: 0;
}
.ms-product-detail .cmt-avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
}
.ms-product-detail .react-tabs__tab-panel {
  margin-bottom: 10px;
  padding: 20px 50px;
  border-radius: 10px;
  transition: 0.35s ease;
}
.ms-product-detail .cmt-author {
  display: flex;
  gap: 20px;
}
.cmt-author .cmt-author-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.ms-product-detail .cmt-author .cmt-name {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.ms-product-detail .cmt-item {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ms-product-detail .btn.disable {
  pointer-events: none;
  opacity: 0.5;
}
.ms-product-detail .pr-dt-img {
  flex: 0 1 auto;
  height: fit-content;
}
.ms-product-detail .pr-dt-list-image {
  margin-right: 20px;
  gap: 10px;
  max-width: 100px;
  width: 100px;
  flex: 1 0 auto;
}
.ms-product-detail .pr-dt-list-image .pr-dt-img-thumb {
  width: 100%;
  border-radius: 5px;
  height: 150px;
}
.ms-product-detail .pr-dt-list-image .pr-dt-img-thumb:hover {
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .ms-product-detail .pr-dt-list-image {
    margin-right: 10px;
    gap: 5px;
    max-width: 70px;
    width: 70px;
    flex: 1 0 auto;
  }
  .ms-product-detail .pr-dt-list-image .pr-dt-img-thumb {
    height: 90px;
  }
}
@media screen and (max-width: 767px) {
  .ms-product-detail .react-tabs__tab-panel {
    margin-bottom: 10px;
    padding: 10px;
  }
  .ms-product-detail .cmt-author {
    gap: 7px;
  }
}
